@import url("./fonts/OldStandard/OldStandard.css");

/*  Page Layout  */
html{ Margin: 0; Padding: 6.5REM 0 0; Color: Var(--Primary); Background: Var(--Canvas); Font-Family: "Old Standard"; Tab-Size: 5; --Aside-Text: Var(--Tertiary); --Aside-Canvas: Honeydew; --Blockquote-Border: DodgerBlue; --Blockquote-Canvas: AliceBlue; --Blockquote-Text: MidnightBlue; --Canvas: White; --Definitional-Aside-Text: Var(--Preformatted-Text); --Definitional-Aside-Canvas: Var(--Preformatted-Canvas); --Definitional-List-Archaic-Border: SaddleBrown; --Definitional-List-Archaic-Canvas: AntiqueWhite; --Definitional-List-Archaic-Text: DarkRed; --Definitional-List-Border: DarkGoldenrod; --Definitional-List-Canvas: LightGoldenrodYellow; --Definitional-List-Dependency-Border: SteelBlue; --Definitional-List-Dependency-Canvas: AliceBlue; --Definitional-List-Dependency-Text: Black; --Definitional-List-Stable-Border: ForestGreen; --Definitional-List-Stable-Canvas: Honeydew; --Definitional-List-Stable-Text: Indigo; --Definitional-List-Text: DarkSlateGray; --Definitional-List-Unstable-Border: DarkRed; --Definitional-List-Unstable-Canvas: MistyRose; --Definitional-List-Unstable-Text: MidnightBlue; --Deleted-Text: Var(--Definitional-List-Border); --Foot-Canvas: MintCream; --Foot-Text: Var(--Preformatted-Text); --Head-Canvas: Var(--Preformatted-Canvas); --Head-Text: Var(--Secondary); --Heading-Text: Var(--Note-Text); --Inserted-Text: Var(--Blockquote-Border); --Link-Active-Text: BlueViolet; --Link-Hover-Text: SlateBlue; --Link-Plain-Text: DarkSlateBlue; --Note-Border: MediumOrchid; --Note-Canvas: Thistle; --Note-Text: Indigo; --Preformatted-Border: MediumOrchid; --Preformatted-Canvas: GhostWhite; --Preformatted-Text: DarkSlateBlue; --Primary: Black; --Secondary: DarkGreen; --Table-Border: Var(--Preformatted-Text); --Target-Border: Goldenrod; --Target-Canvas: PaleGoldenrod; --Target-Shadow: Gold; --Tertiary: SeaGreen; --Visited-Active-Text: DarkOrchid; --Visited-Hover-Text: MediumPurple; --Visited-Plain-Text: MediumSlateBlue }
body{ Margin: Auto; Padding: 6.5REM 6REM 11REM; Max-Width: 43REM }

/*  Headers  */
body>header:First-Of-Type{ Display: Flex; Position: Absolute; Align-Items: Center; Top: 0; Left: 0; Right: 0; Border-Style: None Solid; Border-Color: Transparent; Border-Width: 4REM; Padding: 1.5REM Calc(50VW - 27.5REM); Height: 6.5REM; Color: Var(--Canvas); Background: Var(--Secondary); White-Space: NoWrap }
body>header:First-Of-Type>*{ Display: Block; Margin-Left: 1REM; Overflow: Hidden; Text-Overflow: Ellipsis }
body>header:First-Of-Type>*:First-Child{ Margin: 0 Auto 0 0; Max-Width: 70%; Flex: None; Font-Size: 2.5REM; Line-Height: 1.4 }
body>header:First-Of-Type strong { Font-Style: Italic; Font-Weight: Inherit }
body>header:First-Of-Type *|*:Any-Link{ Color: Inherit; Text-Decoration: None }
body>header *|*:Any-Link:Hover { Color: Inherit; Text-Decoration: Underline }

/* Blocky Things */
aside{ Display: Flow-Root; Margin: .5REM 0; Padding: .5REM 3REM; Color: Var(--Aside-Text); Background: Var(--Aside-Canvas) }
aside:Target{ Margin: .5REM 0; Padding: .5REM 3REM }
dl aside{ Color: Var(--Definitional-Aside-Text); Background: Var(--Definitional-Aside-Canvas) }
blockquote,
div[role=note],
dl{ Display: Flow-Root; Margin: 1REM -2REM 1REM Calc(-2REM - 5PX); Border-Left: 5PX Solid; Padding: 0 3REM }
*|*:Target blockquote,
*|*:Target div[role=note],
*|*:Target dl,
*|*:Target pre{ Position: Relative; Box-Shadow: 0 0 0 1PX Var(--Primary) }
*|*:Target blockquote::after,
*|*:Target div[role=note]::after,
*|*:Target dl::after,
*|*:Target pre::after{ Position: Absolute; Top: 0; Bottom: 0; Left: 0; Right: 0; Box-Shadow: 3PX 2PX 0 1PX Var(--Target-Shadow); Z-Index: -1; Content: "" }
blockquote:Target,
div[role=note]:Target,
dl:Target,
pre:Target{ Border-Color: Var(--Target-Border); Box-Shadow: 5PX 3PX Var(--Target-Shadow) }
blockquote:Target,
div[role=note]:Target,
dl:Target{ Margin: 1REM -2REM 1REM Calc(-2REM - 5PX); Padding: 0 3REM }
aside blockquote:First-Child,
aside dl:First-Child,
aside div[role=note]:First-Child,
aside pre:First-Child{ Margin-Top: 0 }
aside blockquote:Last-Child,
aside dl:Last-Child,
aside div[role=note]:Last-Child,
aside pre:Last-Child{ Margin-Bottom: 0 }
blockquote{ Border-Color: Var(--Blockquote-Border); Color: Var(--Blockquote-Text); Background: Var(--Blockquote-Canvas); Font-Style: Italic }
blockquote.PULL{ Margin-Top: 2REM; Margin-Bottom: 2REM; Font-Size: Larger; Text-Align: Center }
blockquote blockquote{ Margin-Left: Calc(-2REM - 3PX); Border-Left-Width: 3PX }
blockquote blockquote blockquote{ Font-Size: Small }
div[role=note]{ Border-Color: Var(--Note-Border); Color: Var(--Note-Text); Background: Var(--Note-Canvas) }
pre{ Margin: 1EM -2EM 1EM Calc(-1EM - 5PX); Border-Style: Solid; Border-Color: Var(--Preformatted-Border); Border-Width: Thin Thin Thin 5PX; Padding: .5EM 1EM; Color: Var(--Preformatted-Text); Background: Var(--Preformatted-Canvas); Font-Size: .84REM; Line-Height: 1; White-Space: Pre-Wrap }
pre:Target{ Margin: 1EM -2EM 1EM Calc(-1EM - 5PX); Padding: .5EM 1EM }

/*  Tables  */
table{ Margin-Left: Auto; Margin-Right: Auto; Border: Thin Var(--Table-Border) Solid; Border-Collapse: Collapse; Color: Var(--Primary); Background: Var(--Canvas) }
table:Target { Margin-Top: Revert; Margin-Bottom: Revert; Margin-Left: Auto; Margin-Right: Auto; Padding: 0 }
dd table,
dt table,
li table{ Width: 100% }
th,
td{ Box-Sizing: Border-Box; Border: Thin Var(--Table-Border) Solid; Padding: .25EM .125EM; Min-Width: 4EM }
th:Target,
td:Target{ Margin: 0; Padding: .25EM .125EM }
th{ Font-Weight: Bold }
tfoot{ Color: Var(--Foot-Text); Background: Var(--Foot-Canvas) }
thead{ Color: Var(--Head-Text); Background: Var(--Head-Canvas) }

/* Lists */
ol,
ul{ Padding-Left: 2EM }
ol:Target,
ul:Target{ Margin: Revert; Padding: Revert }
*[role=navigation] ul,
nav ul{ List-Style-Type: None }

/* Definition Lists */
dl{ Border-Color: Var(--Definitional-List-Border); Color: Var(--Definitional-List-Text); Background: Var(--Definitional-List-Canvas) }
[data-vs--term_status=stable] dl{ Border-Color: Var(--Definitional-List-Stable-Border); Color: Var(--Definitional-List-Stable-Text); Background: Var(--Definitional-List-Stable-Canvas) }
[data-vs--term_status=dependency] dl{ Border-Color: Var(--Definitional-List-Dependency-Border); Color: Var(--Definitional-List-Dependency-Text); Background: Var(--Definitional-List-Dependency-Canvas) }
[data-vs--term_status=unstable] dl{ Border-Color: Var(--Definitional-List-Unstable-Border); Color: Var(--Definitional-List-Unstable-Text); Background: Var(--Definitional-List-Unstable-Canvas) }
[data-vs--term_status=archaic] dl{ Border-Color: Var(--Definitional-List-Archaic-Border); Color: Var(--Definitional-List-Archaic-Text); Background: Var(--Definitional-List-Archaic-Canvas) }
aside dl{ Display: Block; Margin-Left: 0; Margin-Right: 0; Border: None; Padding: 0; Color: Inherit; Background: None }
aside dl:Target{ Margin: -3PX; Border: None; Padding: 3PX; Box-Shadow: 3PX 2PX Var(--Target-Shadow) }
dt{ Margin: 1EM 0 0; Font-Weight: Bold; Color: Var(--Primary) }
dt:Target{ Margin: Calc(1EM - 3PX) -3PX -3PX }
dt+dt{ Margin-Top: 0 }
aside dt{ Display: Inline; Margin: 0; Color: Var(--Secondary) }
aside dt:Target{ Margin: -3PX }
aside dt:First-Child::before{ Content: "☞ " }
aside dd+dt::before{ Content: "☞ " }
aside dt+dt::before{ Content: " , "}
aside dt+dd::before{ Content: " : " }
dd,
aside dd+dd{ Display: List-Item; Margin: 0 0 0 2EM; Padding: 0 }
dd:Target,
aside dd+dd:Target{ Margin: -3PX -3PX -3PX Calc(2EM - 3PX) }
aside dd{ Display: Inline; Margin: 0 }
aside dd:Target{ Margin: -3PX }
aside dd:Not(:Last-Child)::after{ Display: Block; Margin: 0 0 1EM; Content: "" }
aside dd+dd::before{ Display: Block; Margin: -1EM 0 0; Content: "" }
dd:Last-Child{ Margin-Bottom: 1EM }
dd:Last-Child:Target{ Margin-Bottom: Calc(1EM - 3PX) }
aside dd:Last-Child{ Margin-Bottom: 0 }
aside dd:Last-Child:Target{ Margin-Bottom: -3PX }
dd>p{ Margin: 0 }
dd>p+p{ Text-Indent: 2EM }
dd>p+p>*{ Text-Indent: 0 }

/* Term Lists */
nav.termlist{ Display: Grid; Margin: 1EM 0; Border: Thin Var(--Definitional-Aside-Text) Solid;  Padding: 1EM; Grid-Template-Columns: Max-Content Auto; Gap: 1EM; Color: Var(--Definitional-Aside-Text); Background: Var(--Definitional-Aside-Canvas) }
nav.termlist>p{ Display: Contents }
nav.termlist>p>span{ Display: Flex; Flex-Wrap: Wrap; Gap: 0 1CH }
nav.termlist :Any-Link{ Text-Decoration-Thickness: 1PX }
nav.termlist :Any-Link[data-vs--term_status=stable]:Is(:Focus,:Hover,:Active){ Color: Var(--Definitional-List-Stable-Text); Background: Var(--Definitional-List-Stable-Canvas); Text-Decoration-Color: Var(--Definitional-List-Stable-Border) }
nav.termlist :Any-Link[data-vs--term_status=testing]:Is(:Focus,:Hover,:Active){ Color: Var(--Definitional-List-Text); Background: Var(--Definitional-List-Canvas); Text-Decoration-Color: Var(--Definitional-List-Border) }
nav.termlist :Any-Link[data-vs--term_status=dependency]:Is(:Focus,:Hover,:Active){ Color: Var(--Definitional-List-Dependency-Text); Background: Var(--Definitional-List-Dependency-Canvas); Text-Decoration-Color: Var(--Definitional-List-Dependency-Border) }
nav.termlist :Any-Link[data-vs--term_status=unstable]:Is(:Focus,:Hover,:Active){ Color: Var(--Definitional-List-Unstable-Text); Background: Var(--Definitional-List-Unstable-Canvas); Text-Decoration-Color: Var(--Definitional-List-Unstable-Border) }
nav.termlist :Any-Link[data-vs--term_status=archaic]:Is(:Focus,:Hover,:Active){ Color: Var(--Definitional-List-Archaic-Text); Background: Var(--Definitional-List-Archaic-Canvas); Text-Decoration-Color: Var(--Definitional-List-Archaic-Border) }

/*  Other Blocks  */
h1,
h2,
h3,
h4,
h5,
h6{ Color: Var(--Heading-Text) }
h1>.numero,
h2>.numero,
h3>.numero,
h4>.numero,
h5>.numero,
h6>.numero{ Float: Left; Margin-Right: 1CH; }
h1>small:Last-Child,
h2>small:Last-Child,
h3>small:Last-Child,
h4>small:Last-Child,
h5>small:Last-Child,
h6>small:Last-Child{ Float: Right; Font-Size: 1REM; Font-Weight: Normal }
h1{ Font-Size: XX-Large }
#toc~h2~h2,#toc~h2~h2:Target{ Position: Relative; Margin-Top: 4REM; Font-Size: X-Large }
#toc~h2~h2::before{ Display: Block; Position: Absolute; Bottom: 100%; Left: 0; Right: 0; Margin-Bottom: 1.5REM; Opacity: .5; Font-Size: 1REM; Line-Height: 1; Text-Align: Center; Content: "·   §   ·" }
h3{ Font-Size: Large }
h4{ Border-Bottom: Thin Solid; Font-Size: Medium; Letter-Spacing: Calc(1EM / 12) }
h4>.numero,
h4>small:Last-Child{ Letter-Spacing: Normal }
h5{ Font-Size: Small; Text-Transform: Uppercase }
h6{ Font-Size: X-Small; Text-Transform: Uppercase }
h1:Target,
h2:Target,
h3:Target,
h4:Target,
h5:Target,
h6:Target,
p:Target{ Margin: Revert; Padding: Revert }

/*  Text Styles  */
*|*:Link{ Color: Var(--Link-Plain-Text) }
*|*:Link:Hover{ Color: Var(--Link-Hover-Text) }
*|*:Link:Active{ Color: Var(--Link-Active-Text) }
*|*:Visited{ Color: Var(--Visited-Plain-Text) }
*|*:Visited:Hover{ Color: Var(--Visited-Hover-Text) }
*|*:Visited:Active{ Color: Var(--Visited-Active-Text) }
*|*:Target{ Margin: -3PX; Padding: 3PX; Color: Var(--Primary); Background: Var(--Target-Canvas); Box-Shadow: Inset 0 0 0 1PX Var(--Primary), 3PX 2PX Var(--Target-Shadow) }
code{ Padding: .12EM; Outline: 1PX #57534C Solid; Outline-Offset: -1PX; Color: Var(--Preformatted-Text); Background: Var(--Preformatted-Canvas); Font-Size: .84REM; Line-Height: 1 }
code:Target{ Padding: .12EM }
*|*:Link code,
*|*:Visited code{ Color: Inherit }
pre>code:Only-Child{ Padding: 0; Outline: None; Font: Inherit; Color: Inherit; Background: None }
del{ Color: Var(--Deleted-Text); Text-Decoration: Line-Through }
dfn{ Font-Weight: Bold }
ins{ Color: Var(--Inserted-Text); Text-Decoration: Underline }
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong{ Font-Style: Italic }
var{ Font-Weight: Bold }
