@font-face{ Font-Family: "Old Standard"; Font-Style: Normal; Font-Weight: Normal; Src: url("./OldStandard-Regular.woff2") format("woff2") }
@font-face{ Font-Family: "Old Standard"; Font-Style: Italic; Font-Weight: Normal; Src: url("./OldStandard-Italic.woff2") format("woff2") }
@font-face{ Font-Family: "Old Standard"; Font-Style: Normal; Font-Weight: Bold; Src: url("./OldStandard-Bold.woff2") format("woff2") }
@font-face{ Font-Family: "Old Standard"; Font-Style: Italic; Font-Weight: Bold; Src: url("./OldStandard-BoldItalic.woff2") format("woff2") }
