<!dOcTyPe hTmL>{% assign lang = page.lang | default: site.lang | default: "en" %}
<html lang={{ lang }}>

<title>{% if page.title %}{{ page.title | strip_html }} | {% endif %}{{ site.title | strip_html }}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ "style.css" | relative_url }}">
{% if page.links %}{% for link in page.links %}<link rel="{{ link.rel }}" {% if link.type %}type="{{ link.type }}" {% endif %}href="{{ link.href }}">
{% endfor %}{% endif %}
<header>
    <span>
        <a href="{{ "/" | relative_url }}">{{ site.title }}</a>
    </span>{% if site.repository_url %}
    <nav>
        <a lang="en" href="{{ site.repository_url }}">View source</a>
    </nav>{% endif %}
</header>

<main id="content">
<article>
{% if page.title %}
<h1>{{ page.title }}</h1>
{% endif %}
{{ content -}}
</article>
</main>
